header {
  display: flex;
  align-items: center;
}

nav {
  margin-left: auto;
}

.menu {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 6px;
}

a {
  text-decoration: none;
}

.link-is-active {
  padding-bottom: 4px;
  border-bottom: 2px solid var(--primary-color);
}
